<launch>
  <!-- ZED camera -->
  <include file="$(find zed_cpu_ros)/launch/zed_cpu_ros.launch">
  </include>

  <!-- Chassis Info -->
  <include file="$(find scout_bringup)/launch/scout_robot_base.launch">
     <arg name="odom_topic_name" value="odom_chassis" >
     </arg>
  </include>

  <!-- ByNav GNSS/INS -->
  <include file="$(find bynav_ros_driver)/launch/connect_net.launch">
  </include>

  <!-- BEV Map -->
  <!-- <include file="$(find trajectory_tracking)/launch/map_visualize.launch">
  </include> -->

  <!-- RS LiDAR -->
  <!-- <include file="$(find rslidar_sdk)/launch/start.launch">
  </include> -->

  <!-- Radar -->
  <!-- <include file="$(find oculii_sdk_ros_driver)/launch/radar_oculii.launch">
  </include> -->

</launch>